

.charts {
    
    width: 100vh;
    margin-top: 30vh;



    .container {

        position: inherit;
        width: 100vh;
        height: auto;
        margin-bottom: 10vh;
        border-radius: 10px;
        margin-top: 10vh;
        margin-left: 50%;
        margin-right: 50%;
        background-color: rgba(10, 9, 9, 0.49);
        box-shadow: rgba(3, 21, 43, 0.616) 0px 18px 32px -5px, rgba(38, 90, 79, 0.678) 0px 20px 16px -8px;
    }
}

@media (max-width: 500px) {
    
    .charts {
    
        width: auto;
        height: auto;


        .container {
    
            width: 94%;
            height: auto;
            margin-bottom: 10vh;
            border: 1px solid rgba(31, 29, 29, 0.432);
            border-radius: 10px;
            margin-top: 10vh;
            margin-left: 2vh;
            margin-right: 2vh;
            color: #000;
        }
    }
}
