@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');


.home {

    height: 90vh;
    margin-top: 20vh;
    margin-bottom: 5vh;

    .box {
        
        width: 80%;
        height: auto;
        background-color: rgba(19, 17, 17, 0.37);
        margin-left: 10%;
        margin-right: 10%;
        position: absolute;
        margin-top: 3vh;
        margin-bottom: 3vh;
        box-shadow: rgba(3, 21, 43, 0.616) 0px 13px 27px -5px, rgba(38, 90, 79, 0.678) 0px 10px 16px -8px;
        border-radius: 15px;
        backdrop-filter: blur( 13.5px );
        display: inline;

        .card {
            width: 90%;
            height: auto;
            border: 1px solid rgba(18, 212, 60, 0.637);
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 5vh;
            border-radius: 5px;
            display: flex;
            
            .left {
                width: 50%;
                display: flex;


                .form-ask {
                    width: 80%;
                }

                .labelform {
                    width: 15vh;
                    border-radius: 15px;
                    color: black;

                    .container {
                        width: 10vh;
                        height: 2.5vh;
                        margin-top: 2.5vh;
                        margin-bottom: 2.5vh;
                    }
                    #cust {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        border-radius: 10px;
                        margin-left: 2vh;
                    }

                }
            }

            .right {
                width: 50%;
                display: flex;


                .form-ask {
                    width: 80%;
                }

                .labelform {
                    width: 15vh;
                    border-radius: 15px;
                    color: black;

                    .container {
                        width: 10vh;
                        height: 2.5vh;
                        margin-top: 2.5vh;
                        margin-bottom: 2.5vh;
                    }
                    #cust {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        border-radius: 10px;
                        margin-left: 2vh;
                    }

                }
            }

            h2 {
                
                font-family: 'Red Hat Mono', monospace;
                color: rgba(255, 255, 255, 0.808);
                text-align: center;
                font-size: 100%;
                padding: .5%;
                margin-left: 2vh;
            }
        }

        .result {
            width: 90%;
            height: 15%;
            margin-top: 3vh;
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 20px;

            display: flex;

            .divs {

                width: 33.3%;
                margin-bottom: 5vh;

                .btn-danger, .btn-success, .btn-success {
                    
                    width: auto;
                    height: 50%;
                    margin-top: 5vh;
                    margin-left: 35%;
                    background-color: transparent;
                    border: 1px solid rgb(15, 147, 223);
                    border-radius: 5px;
                    color: white;
        
                }
            }

        }
    }

}


@media (max-width: 600px) {
    .home {
    
        min-height: 200vh;
        .box {      
        
    
            .card {

                display: inline;
                border: none;
                background-color: black;

                .left {
                    width: 100%;
                    display: inline;
                    width: 100%;
                    background-color: black;

                    .form-ask {
                        margin-left: 2vh;
                        margin-right: 2vh;
                    }

                    .container {
                        margin-left: 30%;
                    }
                }
                .right {

                    display: inline;

                    .form-ask {
                        margin-left: 2vh;
                        margin-right: 2vh;
                    }

                    .container {
                        margin-left: 30%;
                    }
                }
                
            
            }
        }

    }
}